{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Delete Address</h2>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Are you sure you want to delete this address?</h5>
            <p class="card-text">
                {{ address.address_line1 }}<br>
                {% if address.address_line2 %}{{ address.address_line2 }}<br>{% endif %}
                {{ address.city }}, {{ address.state }} {{ address.postal_code }}<br>
                {{ address.country }}
            </p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, delete</button>
                <a href="{% url 'shipping:manage_addresses' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
