<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shipping:shipping_home' %}">
            <i class="bi bi-box-seam me-2"></i>ParcelMyBox
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shipping:shipment_list' %}">
                        <i class="bi bi-list-ul me-1"></i>Shipments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shipping:create_shipment' %}">
                        <i class="bi bi-plus-circle me-1"></i>New Shipment
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shipping:manage_addresses' %}">
                        <i class="bi bi-geo-alt me-1"></i>Address Book
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle me-1"></i>{{ user.get_username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'account_profile' %}">
                                <i class="bi bi-person me-2"></i>Profile
                            </a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">
                                <i class="bi bi-box-arrow-right me-2"></i>Logout
                            </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">
                            <i class="bi bi-box-arrow-in-right me-1"></i>Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">
                            <i class="bi bi-person-plus me-1"></i>Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
